<div id="parcel-locker">
    <strong><?php echo __('Parcel locker') ?></strong>
    <span class="price"><?= $block->getParcelLocker() ?></span>
</div>
<script type="text/javascript">
    require(
        ['jquery'],
        function ($) {
            var element = $('#parcel-locker').detach();
            $('.box-order-shipping-method').append(element);
        }
    );
</script>