<div class="selected-parcel-locker">
    <label id="selected-parcel-locker-label">Wybrany paczkomat: </label> <label id="selected-parcel-locker-data"></label>
</div>
<input type="hidden" name="parcel_locker" id="parcel_locker" />