.overflow-hidden {
    overflow: hidden !important;
}

#widget-modal {
    width: 80% !important;
    height: 80% !important;
}

td.parcel-locker-row {
    padding: 0px;
    padding-bottom: 5px !important;
    padding-top: 10px !important;
}

td.parcel-locker-row a {
    padding: 10px 0px;
    text-align: center;
    display: block;
    border: solid 1px #455560;
    color: #455560 !important;
}

td.parcel-locker-row a:hover {
    border-color: #455560;
    color: #455560;
    background-color: #f5f5f5 !important;
}

div.selected-parcel-locker {
    display: none;
}

#selected-parcel-locker-label {
    font-weight: 100 !important;
}

.shipping-information-parcel-locker-label {

}
.shipping-information-parcel-locker-label:after {
    content: ':';
}
.shipping-information-parcel-locker-code {
    font-weight: bold;
}